p, ul, a {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: deepskyblue;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
  max-width: 1400px;
}

.header-wrapper {
  width: 100%;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  top: 0;
}

.about {
  display: flex;
  flex-direction: column;
}

.about .section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10em 0 10em 0;
}

.about .picture img {
  margin: 5px;
}

.about .text {
  width: 50%;
  max-width: 800px;
}

.about .text ul {
  list-style: circle;
}

.about .text li {
  margin: 1em 0 1em 0;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em 0 9em 0;
}

.project .picture {
  overflow: hidden;
  justify-content: center;
}

.project .picture img {
  max-width: 100%;
}

#pimp {
  flex-direction: row;
}

#pimp .text {
  max-width: 50%;
}

#pimp .picture {
  max-width: 50%;
}

#pimp .picture img {
  align-self: center;
}

#footnote {
  font-size: 0.8em;
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 1200px) {

  .about .section {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .about .text {
    width: auto;
    max-width: 100%;
  }
}